.greeting-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.greeting-div {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 150px;
  width: 50%;
}
.greeting-para {
  width: 75%;  
}
.greeting-div p {
  color: lightgray;
  margin: 2px;
}

.name {
  color: red;
  font-size: 5rem;
}

.rounded-circle {
  border-radius: 50%!important;
  border:  3px solid red;
  
}

.container {
  margin-top: 100px;
}

.technology {
  /* border: red solid 1px;
  padding-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.fa-python {
  color: yellow;
  font-size: 3rem;  
}

.fa-react {
  color: lightskyblue;
  font-size: 3rem; 
}

.fa-js-square {
  color: purple;
  font-size: 3rem; 
}

.fa-html5 {
  color: coral;
  font-size: 3rem; 
}

.fa-css3 {
  color: blue;
  font-size: 3rem; 
}

@media(max-width: 1200px) {
  .greeting-container {
    height: 300px
  }
  .greeting-div {
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;    
  }

  .name {
    font-size: 3rem;
  }

  .greeting-image-container{
    display: none;
  }

  .technology {  
    /* padding-top: 100px; */
  }

  .fa-python, .fa-react ,.fa-js-square ,.fa-html5, .fa-css3 {    
    font-size: 3rem;  
  }    
}

@media(max-width: 480px) {

  .greeting-container{
    height: 250px;
  }

  .name {
    font-size: 2rem;
  }

  .greeting-div p {
    color: lightgray;
    margin: 2px;
    font-size: .75rem;
  }

  .technology {
    width: 100%;
    /* justify-content: space-betwee; */
  }
  .fa-python, .fa-react ,.fa-js-square ,.fa-html5, .fa-css3 {    
    font-size: 2rem;  
  }    
}