@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

#name {
  font-family: 'Ballet', cursive;
  font-weight: 900;
  color: black;
  text-shadow: -1px 1px 2px black,
				  1px 1px 2px red,
				  1px -1px 0 red,
				  -1px -1px 0 red;
}

.fa-github {    
  color: white;  
}

.fa-youtube {
  color: red;  
}

.fa-codepen {
  color: black;    
}

.fa-linkedin {
  color: cyan; 
}

.fa-github, .fa-youtube, .fa-codepen, .fa-linkedin {
  font-size: 2rem;
}
.fa-github:hover, .fa-youtube:hover, .fa-codepen:hover, .fa-linkedin:hover{
  color: yellow; 
}

.navbar {
  margin-bottom: 15px;
}

.nav-text {
  font-size: 1.25rem;
  padding-left: 10px;
  color: white;
}

.nav-div {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

@media(max-width: 1200px) { 
  .fa-github, .fa-youtubem .fa-codepen, .fa-linkedin {    
    font-size: 1.75rem;
  }
}