.fa-github {
  color: purple;
  font-size: 1.75rem;
}
.fa-youtube {
  color: red;
  font-size: 1.75rem;
}
.fa-codepen {
  color: lightgreen;
  font-size: 1.75rem;
}
.fa-linkedin {
  color: lightblue;
  font-size: 1.75rem;
}