.fa-github {  
  /* color: red; */
  color: white;
  font-size: 1.75rem;
}
.fa-youtube {
  color: red;
  font-size: 1.75rem;
}
.fa-codepen {
  color: white;
  color: red;
  font-size: 1.75rem;
}
.fa-linkedin {
  color: white;
  font-size: 1.75rem;
}
.navbar {
  margin-bottom: 15px;
}